# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Backend runtime data
backend/.salt
backend/cardioshield.db

# Frontend
frontend/node_modules/
frontend/dist/

# Misc
.ipynb_checkpoints/
